*{
  font-family:  sans-serif;
}


#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}



        .navbar-css{
          background-color: #ffffff;
          border-bottom: 1px solid black;  
        }
        .responsive-card-box{
          width: 23%;
          height: auto;
          margin:0.5vh 0.5vw 0.5vh 0.5vw;
          padding: 0px;
    
        }

        .card-img-top{
          height: 33vmin;
          width: 100%;
          object-fit: cover;
        }
        @media (max-width: 768px) {
          .responsive-card-box {
         width: 48%;
          }
    
        }
      .btn-icon{
        margin: 2px 2px 2px 2px;
        text-align: center;
        padding: 4px 4px 4px 4px;
        font-size: 4vmin;

        color: transparent;
        -webkit-text-stroke: 2px #000;
       
      }

      .nav-heart-icon:hover{
        color: #c50000;
      }
      .nav-signup-icon:hover{
        color: rgb(163, 240, 253);
        
      }
      .nav-toggle-icon:hover{
        color: white;
        text-shadow:
          0 0 5px white,
          0 0 10px white,
          0 0 20px white,
          0 0 30px white,
          0 0 40px white;
        
      }
 


        /* button end */
        /* Wishlist container styles */
        .wishlist-container {
          overflow: scroll;
          position: fixed;
          top:0;
          padding: 15vmin 5px 5px 5px ;
          right: -300px;
          width: 300px;
          height: 100%;
          background-color: #ffffff;
          border: 1px solid #a2a2a2;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          transition: right 0.5s ease;
          z-index: 5;
      }

      .wishlist-container.show {
          right: 0;
      }

      .wishlist-item {
          height: auto;
          display: flex;
          background: white;
          width: 100%;
          border: 1px solid black;
          border-radius: 8px;
          margin-top: 5px;
      }

      .wishlist-item-img {
          height: 15vmin;
          width: 100%;
          height: 100%;
          object-fit: cover;

      }

      .wishlist-container-sidebar-img {
          width: 25%;

      }

      .wishlist-container-sidebar-details {
          width: 75%;
          margin: 0;
          padding: 0;
      }

      .wishlist-item-title {
          font-size: 0.8em;
          margin: 0;
          padding: 0;
      }

      .wishlist-item-para {
          font-size: 0.7em;
          margin: 0;
          padding: 0;
      }

      .wishlist-item-price {
          font-size: 0.8em;
          margin: 0;
          padding: 0;
      }

      .remove-from-wishlist {
          margin: 0;
          border: 0px;
          color: rgb(97, 97, 97);
          background-color: #ffffff;
          width: 15%;
          font-size: 1.8vw;
          padding: 3px;
          border-radius: 4px;
          font-family: "Audiowide", sans-serif;
      }

      .remove-from-wishlist:hover {
          color: #ab0101;
      }

      .card-item-btn-wishlist-buy {
          margin: 0;
          margin-bottom: 2px;
          border: 0px;
          color: white;
          background-color: #f8d005;
          width: 85%;
          font-size: 1.8vw;
          padding: 3px;
          border-radius: 6px;
          font-family: "Audiowide", sans-serif;
          text-decoration: none;
          color: rgb(0, 0, 0);
      }

      .card-item-btn-wishlist-buy:hover {
          background-color: rgb(255, 200, 0);
          color: rgb(255, 255, 255);
          text-decoration: underline;
      }


 
      
  
  
      .redheart{
        margin: 2%;
        font-size: 2vw;
        color: transparent;
        -webkit-text-stroke: 2px #000;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      .redheart:hover{
        color: red; 
    
      }
      
  
      .redheart.active {
        animation: heartbeat 1s infinite;
        color: red;
        animation-fill-mode: forwards;
      }
      .nav-heart-icon.active {
        animation: heartbeat 1s infinite;
        color: red;
        animation-fill-mode: forwards;
      }


      
      @keyframes heartbeat {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(1.4);
        }
        50% {
          transform: scale(1);
        }
        75% {
          transform: scale(1.4);
        }
        100% {
          transform: scale(1);
        }
      }

    
    


.logo-text{
  padding: 0;
  margin: 0;
  font-size: 5vmin;
}

.font-sofia{
    font-family: "Sofia", sans-serif;
}
.font-san{
  font-family: "Audiowide","impact", sans-serif;
}
.font-impact{
  font-family: "impact";
}
.font-2{
  font-size:1.5vmin ;
}
.font-3{
  font-size:2.1vmin ;
}




.home-pg-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .home-pg-1 video{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position:absolute;
  }

.home-pg-1 .home-page1-content{
  height: 100vh;
  width: 100vw;
  position:relative;
  z-index:2;
  color:#fff;
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content: center;
  padding-bottom:5vw ;
    text-align:center;
    padding-top: 65vmin;
    background-color:rgba(0, 0, 0, 0.322);
 

}
 
  
.home-pg-1 .home-page1-content .heading{

    color: #dadada;
    z-index: 3;
    font-size: 10vw;
    font-family: "Audiowide", sans-serif;
    
}

.home-pg-1 .home-page1-content .typing-text{
    font-family:Impact;
    color:#dadada;
    z-index: 3;
    font-size: 3.5vw;

}

  /* home-pg-1 end */
 /* home-pg-2 start */
 
 #home-pg-2{
  width: 100vw;
  padding-top: 3vh;
  margin-bottom: 3vh;
  background:linear-gradient(to bottom, #fffaf0 ,#ffffff );
 }
 .galery-content{
  font-size: 7vmin;
  text-align: center;
  font-family: "Sofia", sans-serif;
 }

 .gallery-container{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-content: center;
  align-items: center;
  
 }

 @media (max-width: 768px) {
  .gallery-container {
    height: 30vh;
  }
}
 .gallery-container .galery-img{
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255,255, 0.6);
  transition: all ease-in-out 0.5s;

 }
 .gallery-container .galery-img-style-2{
  width: 10%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255,255, 0.6);
  transition: all ease-in-out 0.5s;

 }
 .gallery-container .galery-img-style-3{
  width: 10%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255,255, 0.6);
  transition: all ease-in-out 0.5s;

 }
.gallery-container .galery-img:hover{
width: 35%;
height: 100%;
 } 
.gallery-container .galery-img-style-2:hover{
width: 35%;
height: 100%;
 } 
.gallery-container .galery-img-style-3:hover{
width: 35%;
height: 100%;
 } 

   /* home-pg-2 end */
   /* home-pg-3 start */

   #home-pg-3{
    width: 100vw;
    height: auto;
   }
.top-sale-head{
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}
.top-sale-head .top-sale-heading{
  font-size: 4vmin;

}

.top-sale-head .see-more-btn{
  background-color: #71c9ce;
  font-size: 1.7vw;
  width:20vmin;
  
  border: 1px solid black; 
  padding: 5px;
  margin: 0px 0px 2vh 0px;
  font-family: "Audiowide", sans-serif;
}
.top-sale-head .see-more-btn:hover{
background-color: #ffffff;
}
  /* home-pg-3 end */

  .cardshadowtop {
    transition: all 0.5s ease-in-out;
  }
  .cardshadowtop:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 1.2vmin 2.5vmin rgba(0, 0, 0, 0.30);
    transition: 0.3s ease;
  }
  
  @media (max-width: 40em) {
    .cardshadowtop:hover { transform: translateY(-0.3em); }
  }
  /* .cardshadowtop:hover {
    transform: translateY(-10px);
    box-shadow: 0 19px 32px rgba(0, 0, 0, 0.30);
  } */
  /* home-pg-4 start */
#home-pg-4{
  width: 100vw;
  margin-bottom: 2vh;
}

/* logos slider start */
@keyframes slide {
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-100%);
  }
}

  .logos{
    overflow: hidden;
    white-space: nowrap;
    margin-top:2vh ;
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
.logos-slide{
  display: inline-block;
 
  animation: 70s slide infinite linear;

}


.logo-slide-img{
  height: 20vmin;
  cursor: pointer;
  transition: ease;
  margin:0px 2vmin 0px 2vmin;
}
.logo-slide-img-first{
  height: 20vmin;
  cursor: pointer;
  transition: ease;
  margin-left: 0px;
  margin-right: 0px;
}

.logos:hover .logos-slide  :not(:hover){
  opacity: 0.5;
  filter: grayscale(100%);
}




/* logos slider end  */





/* logos slider 2 start */
@keyframes slide-2 {
  from{
    transform:translateX(-100%);
  }
  to{
    transform:translateX(0);
  }
}

  .logos-2{
    overflow: hidden;
    white-space: nowrap;
    margin-top:2vh ;
  }

  .logos-2:hover .logos-slide-2 {
    animation-play-state: paused;
  }
.logos-slide-2{
  display: inline-block;
 
  animation: 70s slide-2 infinite linear;

}

.logos-2:hover .logos-slide-2  :not(:hover){
  opacity: 0.5;
  filter: grayscale(100%);
  
}
/* logos slider 2 end */

/* logos slider end  */

  /* home-pg-4 end */

  /* section 2 product start */
 #side-p-product-container{
    width: 100%;
    height: auto;
    margin-top: 6vh;
    
      }
    
    
      .side-panel{
        width: 25vw;
        height: 90vh;
        background: #fff;
        position: sticky;
        top: 10vmin;
        padding-top: 3vh;
overflow: auto;
    
      }
    
      .sidebar-search{
        width: 90%;
        background: #fff;
        color: #393939;
        font-size: 0.7em;
        padding: 0.5em;
        border-radius: 5px;
        border: 0.1px solid rgb(190, 190, 190);
      }
      .sidebar-heading{
    margin-top: 3vmin;
    margin-left: 2vmin;
    margin-bottom: 0.5em;
    font-size: 3vmin;
    
      }
    
      .sidebar-product-container{
      padding: 2px 0px 0px 3vmin;
      margin:5px 1vmin 5px 3vmin ;
      border-radius: 8px;
    }
    
    .sidebar-phead{
      font-size: 2.5vmin;
      padding-left: 8px ;
      margin-left: -1em;
      border-left: 2px solid rgb(0, 242, 255);
    }

    .sidebar-product-container a{
      font-size: 2vmin;
      display: block;
      margin: 0px;
      margin-left: 2vmin;
      padding: 2px;
      color: #000000;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

    }
    .sidebar-product-container a:hover{
      font-size: 0.9em;
      margin: 0px;
      padding-left: 0px;
      color: #000000;
    text-decoration: underline;
    
    }

/* product page start */
.product-center{
  width: 75vw;
  height: auto;
  background-color:#fff;
    }
 







    /* section 2 product end */
    .item-card-img{
      background-size: cover;
      width: 100%;
      height: 50%;
      
    }

    .card-item-btn{
      text-align: center;
      width: 90%;
      font-size:2.5vw;
      margin: 0.1vmin;
      align-content: center;
      border-radius:8px;
      font-family: "Audiowide", sans-serif;
      text-decoration: none;
      color: black;
      background-color:rgb(238, 194, 1);
    }
    .card-item-btn:hover{
      color:rgb(255, 255, 255);
      background-color:rgb(255, 218, 52);
      
    }


    
  
  

    
    .modal-fullscreen .modal-dialog {
      width: 100vw;
      margin: 0;
    }
    
    .modal-fullscreen .modal-content {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }

    #productModal {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
    .product-modam-container{
      height:auto;
      width:100% ;
      padding:10px 10px 3em 10px;
      border-radius: 10px;
     
    }
    #product-image {
     
      object-fit: cover;
      border-radius: 10px;
      height:auto;
      margin: 2em;
  }
    .product-contain-left {
    padding:3em 1em 1em 1em;
margin: 1em;
      border-radius: 10px;
      height:auto;
  }

  .star {
    color: gainsboro;
    font-size: 30px;
    cursor: pointer;
  }
  .star-container{
    margin: 1em;
  }
  .star:hover {
    color: #f1d135;
  }
  
  .star.active {
    color: #f1d135;
  }


.size-box{
  background-color:rgb(46, 46, 46);
  color: #ffffff;
  width: 3em;
  padding: 3px;
  border-radius: 4px;
}
.size-box:hover{
  background-color: #fffdfd;
  color: #000000;
}
.buy-btn-product{
  margin-top: 2em;
  padding: 0.7em;
  border-radius: 5px;
  width: 100%;
  background-color: gold;
  border: 0px;

}

.back-btn-modam{
  background-color:rgb(255, 39, 39);
  color: #ffffff;
  width: 2em;
  padding: 1px;
  border-radius: 4px;
  font-size: 1.5em;
  border: 0px;
}
.back-btn-modam:hover{
  background-color:rgb(175, 22, 22);
}




.about-pg-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 5vmin;
}

.about-pg-1 img{
  height: 100%;
  width: 100vw;
  object-fit: cover;
  position:absolute;
}

.about-pg-1 .about-page1-content{
height: 100vh;
width: 100vw;
position:relative;
z-index:2;
color:#fff;
display: flex;
  background-color:rgba(0, 0, 0, 0.322);
  align-items: end;



}
.about-pg-1 .about-page1-content .heading-containe{
  margin-bottom: 1em;
  margin-left: 1em;
}
.about-pg-1 .about-page1-content .heading-containe .about-logo-font-heading-1{
background-color: rgb(0, 0, 0);
margin: 0;
padding: 5px;


}
.about-pg-1 .about-page1-content .heading-containe .about-logo-font-heading-2{
background-color: #fe672e;
padding: 8px;margin: 0 0px 0px 4vw;
}

.about-pg-1 .about-page1-content .heading-containe .heading{

  color: #fffafa;
  z-index: 3;
  font-size: 5.3vw;

  font-family: "Audiowide", sans-serif;
  
}
.bg-blur {
  background: rgba(45, 45, 45, 0); /* light background */
  backdrop-filter: blur(5px); /* subtle blur */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}
.about-us-para-1{
  align-content: center;
  align-items: center;
width: 50vw;
font-size: 2vmin;

}
.about-pg2-container{
  height: auto;
  width: 100vw;
  padding: 2%;
}

.about-pg2-container .about-pg2-img-contain img{
object-fit: cover;
width: 40vw;
height: 100%;
}
.about-pg2-container .about-pg2-para-contain{
  height: 100%;
  width: 60vw;
  padding: 3vh 2vw 2vh 2vw;
  align-content: center;
  font-size: 3vmin;
}


/* about-pg-1 end */
.footer {
  background-color: #000000;
}
.link-container{
  width: 20%;
  
  margin: 0;
  padding: 0;
  margin-right: 1em;
}
.link-container a{

  font-size: 3vmin;
  display: block;
  margin: 0px;
  margin-left: 2vmin;
  padding: 2px;

  text-decoration: none;

}
.social-icon-container{
  display: flex;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
}

.footer .social-link {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 5vmin;
  margin-right: 10px;
}

.footer .social-link:hover {
  color: #ffffff;
}


.footer .nav-link {
  color: #a5a5a5;
  text-decoration: none;
}

.footer .nav-link:hover {
  color: #ffffff;
}
.map-toggle-show {
  border: 2px solid black;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff00;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;

}

.container-feedback{
  border: 1px solid gray;
  display: flex;
  height: 500px;
}
.feedback-contant{
  margin-left: 100px;
  margin-top: 50px;
}
.feed-para{
  margin-top: 70px;
} 
.premium-btn {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.premium-btn:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}
.map-container {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.about-six-card:hover{
  background-color: #000000;
  color: #d3d3d3;

}
.about-six-card:hover i{
  color:#fe672e;
}

.pg-1-home{
  margin-top:8vh;
  padding:5%;
  background-color: #fffaf0;
  width: 100vw;
}
.color-tranfer{
  background:linear-gradient(to bottom, #fffaf0 ,#ffffff ,#ffffff  ,#ffffff ,#ffffff );
  
    
}
.promo-pg-1{
  rotate: 7deg;
  object-fit: cover;
  overflow: hidden;
  
}

.bordered-font{
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
.color-bluegreen{
  background-color: rgb(95, 177, 180);
  font-size: 1rem;
  
}
.color-bluegreen:hover{
  background-color: rgb(255, 255, 255);
  font-size: 1rem;

}

.pg-1-home h1 {
  font-size: 3rem;
}

/* without net  */
.promo-img-container-1{
  height: auto;
}

/* logos slider start */
@keyframes slide {
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-100%);
  }
}

  .sales{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
height: 8vmin;
background-color: #1f1e23;
    padding: 5px 0px 5px 0px;
    color: #dadada;
    rotate: 1.5deg;
    padding-left: 10vw;
    width: 100vw;

  }

  .sales:hover .sales-slide {
    animation-play-state: paused;
  }
.sales-slide{

  animation: 70s slide infinite linear;
  display: flex;


}

.sale-container{
  background-color: #fffaf0;
}


.logo-slide-text{
  font-size: 4vmin;
  cursor: pointer;
  transition: ease;
  margin-right: 5vw;
}
.logo-slide-star{
  margin-top: 5px;
  font-size: 5vmin;
  cursor: pointer;
  transition: ease;
  margin-right: 5vw;
  color: #fe672e;
}

.sales:hover .sales-slide  :not(:hover){
  opacity: 0.5;
}


.footer-img{
  margin:2% 0px 2% 0px;
  object-fit: contain;

  width: 20%;
  height: 100%;
}

/* sales slider end  */